---
export const prerender = false;

const time = new Date().toLocaleTimeString();
---

<html>
  <head>
    <title>Astro SSR Example</title>
  </head>
  <body>
    <h1>Hello from Astro SSR! 🚀</h1>
    <p>Current Time: {time}</p>
  </body>
</html>
